<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Forms">
      <forms name="IdentityProvider" loginUrl="Default.aspx">
        <credentials passwordFormat="Clear">
          <user name="idp-user" password="password"/>
        </credentials>
      </forms>
    </authentication>
    <!--<authorization>
      <deny users="?"/>
    </authorization>-->
  </system.web>
  <appSettings>
    <add key="SPLogOutURLs" value="http://localhost:62114/ConsumeSLO,http://localhost:62114/ConsumeSLO"/>
  </appSettings>
</configuration>